.ErrorPage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
}

@media (max-width: 768px) {
      
    .ErrorPage{
        min-height: 100%;
    }
  
}