.DisplayFeedback{
    font-family: 'Open Sans', sans-serif; 
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}
.DisplayFeedbackContent{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.DisplayFeedback:hover{
    filter: brightness(70%);
    cursor: pointer;
}

@media (max-width: 768px) {
    
    .DisplayFeedbackContent{
        font-size: 0.6rem;
        height: 100px;
    }
        
  
}